venv
runs
test
train 
valid
images
labels
train.jsonl
valid.jsonl
convert_to_yolo.py
ui_detector/model/last.pt
__pycache__
yolov8m.pt
yolo11n.pt
.env
vosk-model-small-ru-0.22
test.py
agent_logs.txt
logs/
vosk-model-ru-0.42
screenshots
temp_speech.mp3
model_silero.pt
*.pt
*.onnx
*.safetensors